body 
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url('https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg') no-repeat;
  background-size: cover;
}